{% unless template == 'index' %}
  <section class="z-index-2 position-relative pb-2 mb-12">
    <div class="bg-body-secondary mb-3">
      <div class="container">
        <nav class="py-4 lh-30px" aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center py-1 mb-0">
            <li class="breadcrumb-item"><a title="Home" href="{{ routes.root_url }}">Home</a></li>

            {% if template contains 'product' %}
              {% if collection %}
                <li class="breadcrumb-item">
                  <a href="{{ collection.url }}">{{ collection.title }}</a>
                </li>
              {% else %}
                <li class="breadcrumb-item"><a href="{{ routes.all_products_collection_url }}">Shop</a></li>
              {% endif %}
              <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>

            {% elsif template contains 'collection' and collection.handle %}
              <li class="breadcrumb-item"><a href="{{ routes.all_products_collection_url }}">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ collection.title }}</li>

            {% elsif template contains 'blog' %}
              <li class="breadcrumb-item">
                <a href="{{ blog.url }}">{{ blog.title }}</a>
              </li>
              {% if current_tags %}
                <li class="breadcrumb-item active" aria-current="page">{{ current_tags | join: ' + ' }}</li>
              {% endif %}

            {% elsif template contains 'article' %}
              <li class="breadcrumb-item">
                <a href="{{ blog.url }}">{{ blog.title }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{ article.title }}</li>

            {% elsif template contains 'page' %}
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>

            {% elsif template contains 'cart' %}
              <li class="breadcrumb-item active" aria-current="page">{{ 'cart.title' | t }}</li>

            {% else %}
              <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            {% endif %}
          </ol>
        </nav>
      </div>
    </div>
  </section>
{% endunless %}
