<div class="navbar">
  <div id="offCanvasNavBar" class="offcanvas offcanvas-start" style="--bs-offcanvas-width: 310px">
    <div class="offcanvas-header fs-4">
      <div class="offcanvas-title">
        <a href="{{ routes.root_url }}">
          {%- if settings.logo != blank -%}
            {{
              settings.logo
              | image_url: width: settings.logo_width_mobile
              | default: 90
              | image_tag: alt: shop.name, class: 'img-fluid', loading: 'lazy'
            }}
          {%- else -%}
            <span class="h4 text-uppercase fw-semibold">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>
      <button type="button" class="btn-close btn-close-bg-none" data-bs-dismiss="offcanvas" aria-label="Close">
        <svg class="icon icon-xmark">
          <use xlink:href="#icon-xmark"></use>
        </svg>
      </button>
    </div>
    <hr class="mt-0">
    <div class="offcanvas-body pt-0 mb-2">
      <ul class="navbar-nav">
        {% for link in linklists[section.settings.menu].links %}
          {% if link.links != blank %}
            <li class="nav-item transition-all-xl-1 py-0 dropdown dropdown-fullwidth position-static">
              <a
                class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px dropdown-toggle"
                href="{{ link.url }}"
                data-bs-toggle="dropdown"
                id="menu-item-{{ link.handle }}-canvas"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{- link.title -}}
              </a>
              <div
                class="dropdown-menu mega-menu start-0 py-6 w-100"
                aria-labelledby="menu-item-{{ link.handle }}-canvas"
              >
                <div class="megamenu-shop container-wide py-8 px-12">
                  <div class="row">
                    {% for childlink in link.links %}
                      <div class="col">
                        <h6 class="fs-18px">{{ childlink.title }}</h6>
                        <ul class="list-unstyled mb-0">
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a
                                href="{{ grandchildlink.url }}"
                                class="border-hover text-decoration-none py-3 d-block"
                              >
                                <span class="border-hover-target">{{ grandchildlink.title }}</span>
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </li>
          {% else %}
            <li class="nav-item transition-all-xl-1 py-0">
              <a
                class="nav-link d-flex justify-content-between position-relative text-uppercase fw-semibold ls-1 fs-15px"
                href="{{ link.url }}"
              >
                {{- link.title -}}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <hr class="mb-0">
    <div class="offcanvas-footer bg-body-tertiary">
      &copy; {{ 'now' | date: '%Y' }}
      {{ shop.name }}. <br>
      All rights reserved.
    </div>
  </div>
</div>
